# npm
node_modules
package-lock.json
*.log
*.gz

notes-api-web-server.pem
.env
.prod.env
# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore
